---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle =  "Sobre mi";

---
<!-- ---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = 'Sobre mi';

const identity = {
	firstName: "Sarah",
	country: "Canada",
	occupation: "Escritor técnico",
	hobbies: ["fotografia", "Observación de aves", "peñarol"],
};
const skills = ["HTML", "CSS", "Javascript", "React", "Astro", "Redacción de documentos"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
const fontWeight = 'bold';
const textCase = 'full-width;';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}

			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>

	</head>
	<body>
        <Header />
		<h1> {pageTitle}</h1>
        <h2> .... y mi nuevo sitio Astro</h2>
        <p>Estoy trabajando en el tutorial introductorio de AStro. </p>
        <p>Este sitio se irá actualizando a medida que vaya completando recursos</p>
		<ul>
			<li><a href="/posts/post-1/">Publicación 1</a></li>
			<li><a href="/posts/post-2/">Publicación 2</a></li>
			<li><a href="/posts/post-3/">Publicación 3</a></li>
		</ul>
		<p>He aqui algunos de mis datos sobre mi</p>
		<ul>
			<li>Me llamo {identity.firstName} </li>
			<li>Vivo en {identity.country} </li>
			{identity.hobbies.length >= 2 &&
				<li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
			}
		</ul>
		<p>Mis habilidades son</p>
		<ul>
			{skills.map( (skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>Estoy feliz de aprender Astro</p> }
		{finished && <p>He terminado este tutorial </p> }
		{goal === 3 ? <p>Mi objetivo es terminar en 3 días</p> : <p>Mi objetivo es terminar en 5 días</p> }
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html> -->


<BaseLayout pageTitle={pageTitle}>
	<h2>Sobre mi y el aprendizaje</h2>
	<p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
	<h2>Mi impresionante subtítulo SOBRE NOSOTROS Y QUIENES SOMOS</h2>
</BaseLayout>
